* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  font-family: sans-serif;
}

#demo {
  background-color: royalblue;
  color: antiquewhite;
  font-size: 3rem; /* Make the number big */
  padding: 10px 30px;
  border-radius: 8px;
  min-width: 100px;
  text-align: center;
}

#btn {
  display: flex;
  gap: 10px;
}

#btn button {
  height: 35px;
  width: 70px;
  background-color: crimson;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-weight: bold;
}

#btn button:hover {
  background-color: darkred;
}
